
[submodule "modules/materials/LinearElastic"]
	path = modules/materials/LinearElastic
	url = https://github.com/MAteRialMOdelingToolbox/LinearElastic
[submodule "modules/MarmotMechanicsCore"]
	path = modules/core/MarmotMechanicsCore
	url = https://github.com/MAteRialMOdelingToolbox/MarmotMechanicsCore
[submodule "modules/core/MarmotMathCore"]
	path = modules/core/MarmotMathCore
	url = https://github.com/MAteRialMOdelingToolbox/MarmotMathCore
[submodule "modules/core/MarmotFiniteElementCore"]
	path = modules/core/MarmotFiniteElementCore
	url = https://github.com/MAteRialMOdelingToolbox/MarmotFiniteElementCore
[submodule "modules/elements/DisplacementFiniteElement"]
	path = modules/elements/DisplacementFiniteElement
	url = https://github.com/MAteRialMOdelingToolbox/DisplacementFiniteElement
