variables:

  override_module_branch:
    value: ""
    description: "override the default branch for each Marmot module"

  override_edelweiss_branch:
    value: ""
    description: "override the default branch for EdelweissFE"

  # number of columns in the module definition matrix
  marmot_module_defintion_matrix_col_size: 3

  # core libraries
  CoreModules:
      # repo name                 secret repo url                       default branch
    value: |
      MarmotMechanicsCore         $MarmotMechanicsCore_Repo             master
      MarmotFiniteElementCore     $MarmotFiniteElementCore_Repo         master  
      MarmotMathCore              $MarmotMathCore_Repo                  master  

  # element libraries
  ElementModules:
      # repo name                 secret repo url                       default branch
    value: |
      DisplacementFiniteElement   $DisplacementFiniteElement_Repo       master

  # material libraries
  MaterialModules:
      # repo name                 secret repo url                       default branch
    value: |
      LinearElastic               $LinearElastic_Repo                   master
      B4                          $B4_Repo                              master
      VonMises                    $VonMises_Repo                        master

format:
  stage: test
  image: condaforge/mambaforge:23.11.0-0
  needs: []
  script:
    - mamba install -c conda-forge clang-format-16
    - find .  \( -name \*.cpp -o -name \*.h \) -print0 | xargs -0 -n 1 clang-format-16 --Werror -n --verbose

build and test:
  stage: build
  image: debian:bookworm
  script:
    
    - function install_marmot_module(){
        repo_name=$1;
        repo_url=$2;
        repo_default_branch=$3;

        echo "installing module $repo_name with branch $repo_default_branch";

        rm -rf $repo_name;
        git clone --branch $repo_default_branch   $repo_url   $repo_name;

        if [ ! -z "$override_module_branch" ]; then
          echo "trying to check out branch $override_module_branch" ;
          cd $repo_name;
          git checkout $override_module_branch || echo "branch $module_branch not available for $repo_name" ;
          cd ../ ;
        fi; }

    - function install_marmot_modules(){
        modules=("$@");
        for (( i=0; i<${#modules[@]}; i+=(($marmot_module_defintion_matrix_col_size)) ));
        do
          install_marmot_module ${modules[@]:$i:$marmot_module_defintion_matrix_col_size};
        done; }

    - apt-get update -y
    - apt-get upgrade -y
    - apt-get install -y wget cmake git libtbbmalloc2
    - wget -O Miniforge3.sh "https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-$(uname)-$(uname -m).sh"
    - bash Miniforge3.sh -b -p "${HOME}/conda"
    - source "${HOME}/conda/etc/profile.d/conda.sh"
    - source "${HOME}/conda/etc/profile.d/mamba.sh"
    - mamba activate

    - mamba install cmake compilers

    - git clone -b 3.4.0 https://gitlab.com/libeigen/eigen.git
    - cd eigen 
    - mkdir build
    - cd build 
    - cmake -DBUILD_TESTING=OFF  -DINCLUDE_INSTALL_DIR=$(python -c "import sys; print(sys.prefix)")/include -DCMAKE_INSTALL_PREFIX=$(python -c "import sys; print(sys.prefix)") ..
    - make install
    - cd ../..

    - git clone -b v1.1.0 https://github.com/autodiff/autodiff.git
    - cd autodiff
    - mkdir build
    - cd build
    - cmake -DAUTODIFF_BUILD_TESTS=OFF -DAUTODIFF_BUILD_PYTHON=OFF -DAUTODIFF_BUILD_EXAMPLES=OFF -DAUTODIFF_BUILD_DOCS=OFF -DCMAKE_INSTALL_PREFIX=$(python -c "import sys; print(sys.prefix)") ..
    - make install
    - cd ../..
    
    - cd modules/core
    - install_marmot_modules ${CoreModules[@]}
    - cd ../..

    - cd modules/elements
    - install_marmot_modules ${ElementModules[@]}  
    - cd ../..

    - cd modules/materials
    - install_marmot_modules ${MaterialModules[@]}
    - cd ../..

    - mkdir build
    - cd build
    - cmake -DCMAKE_INSTALL_PREFIX=$(python -c "import sys; print(sys.prefix)")  ..
    - make install
    - ctest
    - cd ../

    - git clone $EdelweissFE_Repo
        
    - mamba install -c anaconda  --file EdelweissFE/requirements.txt
    - mamba install -c anaconda  tbb

    - cd EdelweissFE 
    - if [ ! -z "$override_edelweiss_branch" ]; then
          echo "trying to check out branch $override_edelweiss_branch" ;
          git checkout $override_edelweiss_branch || echo "branch $module_branch not available for EdelweissFE" ;
      fi; 
    - pip install .
    - run_tests_edelweissfe ./testfiles


