
[submodule "modules/materials/LinearElastic"]
	path = modules/materials/LinearElastic
	url = https://github.com/MAteRialMOdelingToolbox/LinearElastic
[submodule "modules/MarmotMechanicsCore"]
	path = modules/core/MarmotMechanicsCore
	url = https://github.com/MAteRialMOdelingToolbox/MarmotMechanicsCore
