# This is a workflow to build the repo on ubuntu
name: build_ubuntu

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CC:   gcc-14
      CXX:  g++-14
    steps:
      - name: Install Eigen
        shell: bash -l {0}
        run: |
          git clone --branch 3.4.0 https://gitlab.com/libeigen/eigen.git
          cd eigen
          mkdir build
          cd build
          cmake -DBUILD_TESTING=OFF  ..
          sudo make install
          cd ../..

      - name: Install Autodiff
        shell: bash -l {0}
        run: |
          git clone --branch v1.1.0 https://github.com/autodiff/autodiff.git
          cd autodiff
          mkdir build
          cd build
          cmake -DAUTODIFF_BUILD_TESTS=OFF -DAUTODIFF_BUILD_PYTHON=OFF -DAUTODIFF_BUILD_EXAMPLES=OFF -DAUTODIFF_BUILD_DOCS=OFF ..
          sudo make install
          cd ../..

      - name: Install Fastor
        shell: bash -l {0}
        run: |
          git clone --branch V0.6.4 https://github.com/romeric/Fastor.git
          cd Fastor
          mkdir build
          cd build
          cmake -DBUILD_TESTING=OFF  ..
          sudo make install
          cd ../..

      - name: Check out Marmot
        uses: actions/checkout@v4

      - name: Install Marmot
        shell: bash -l {0}
        run: |
          mkdir build
          cd build
          cmake ..
          sudo make install
          ctest
