# This is a workflow to update private submodules
name: schedule

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  schedule:
    - cron: 0 12 * * *
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
        # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with: 
          token: ${{ secrets.SECRET_UPDATE_SUBMODULES }} # stored in GitHub secrets 
          submodules: true
      - name: update submodule
        run: | 
             git config --global user.email "marmot@gmail.com"
             git config --global user.name "Marmot"
             git submodule update --remote
             git status
             git add .
             git diff-index --quiet HEAD || git commit -m "update submodules"
             git status
             git push 
